[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ove Stokke
	email = 14012923+ovestokke@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP7yAfFk29GTdBYRYorVyYpDHVv/0cWwjtGrcnaqrAEm
[commit]
	gpgsign = true
[gpg]
	{{- if eq .chezmoi.os "darwin" }}
    		program = /opt/homebrew/bin/gpg
	{{- else if eq .chezmoi.os "windows" }}
    		program = C:/Program Files/GnuPG/bin/gpg.exe
	{{- end }}
	
	format = ssh
[gpg "ssh"]
	{{- if eq .chezmoi.os "darwin" }}
    		program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	{{- else if eq .chezmoi.os "windows" }}
    		program = "C:/Users/ovsto/AppData/Local/1Password/app/8/op-ssh-sign.exe"
	{{- end }}
