[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ove Stokke
	email = 14012923+ovestokke@users.noreply.github.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519_signing.pub
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /usr/bin/ssh-keygen
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
[includeIf "gitdir:~/projects/work/"]
	path = ~/.gitconfig-work
