[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ove Stokke
	email = 14012923+ovestokke@users.noreply.github.com
	{{- if eq .chezmoi.os "windows" }}
	signingkey = {{ .chezmoi.homeDir }}\.ssh\id_ed25519_github.pub
	{{- else }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519_github.pub
	{{- end }}
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	{{- if eq .chezmoi.os "darwin" }}
	program = /usr/bin/ssh-keygen
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
	{{- else if eq .chezmoi.os "windows" }}
	program = C:/Windows/System32/OpenSSH/ssh-keygen.exe
	allowedSignersFile = {{ .chezmoi.homeDir }}\.ssh\allowed_signers
	{{- else if eq .chezmoi.os "linux" }}
	program = /usr/bin/ssh-keygen
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
	{{- end }}
