{
  "main": {
    "id": "d6d4f156d8f4b161",
    "type": "split",
    "children": [
      {
        "id": "8cbc7a0e1ccfc1a0",
        "type": "tabs",
        "children": [
          {
            "id": "c9849d217efd39b3",
            "type": "leaf",
            "state": {
              "type": "markdown",
              "state": {
                "file": "Daily Notes/2025-08-13.md",
                "mode": "source",
                "source": false
              },
              "icon": "lucide-file",
              "title": "2025-08-13"
            }
          },
          {
            "id": "5b2b338551ad36f5",
            "type": "leaf",
            "state": {
              "type": "markdown",
              "state": {
                "file": "Excalidraw/Drawing 2025-02-12 10.41.36.excalidraw.md",
                "mode": "source",
                "source": false
              },
              "icon": "lucide-file",
              "title": "Drawing 2025-02-12 10.41.36.excalidraw"
            }
          }
        ],
        "currentTab": 1
      }
    ],
    "direction": "vertical"
  },
  "left": {
    "id": "6493677876fd86eb",
    "type": "split",
    "children": [
      {
        "id": "3c55ea4945d6dde5",
        "type": "tabs",
        "children": [
          {
            "id": "d19280feebd42661",
            "type": "leaf",
            "state": {
              "type": "file-explorer",
              "state": {
                "sortOrder": "alphabetical",
                "autoReveal": false
              },
              "icon": "lucide-folder-closed",
              "title": "Files"
            }
          },
          {
            "id": "864166cd143081b5",
            "type": "leaf",
            "state": {
              "type": "search",
              "state": {
                "query": "",
                "matchingCase": false,
                "explainSearch": false,
                "collapseAll": false,
                "extraContext": false,
                "sortOrder": "alphabetical"
              },
              "icon": "lucide-search",
              "title": "Search"
            }
          },
          {
            "id": "f531eccd972e205e",
            "type": "leaf",
            "state": {
              "type": "bookmarks",
              "state": {},
              "icon": "lucide-bookmark",
              "title": "Bookmarks"
            }
          }
        ]
      }
    ],
    "direction": "horizontal",
    "width": 300
  },
  "right": {
    "id": "968f70ae0a4ce472",
    "type": "split",
    "children": [
      {
        "id": "9a34cc7e0a119755",
        "type": "tabs",
        "children": [
          {
            "id": "d8b9fbc005247948",
            "type": "leaf",
            "state": {
              "type": "backlink",
              "state": {
                "collapseAll": false,
                "extraContext": false,
                "sortOrder": "alphabetical",
                "showSearch": false,
                "searchQuery": "",
                "backlinkCollapsed": false,
                "unlinkedCollapsed": true
              },
              "icon": "links-coming-in",
              "title": "Backlinks"
            }
          },
          {
            "id": "f3379e22c1abd859",
            "type": "leaf",
            "state": {
              "type": "outgoing-link",
              "state": {
                "linksCollapsed": false,
                "unlinkedCollapsed": true
              },
              "icon": "links-going-out",
              "title": "Outgoing links"
            }
          },
          {
            "id": "7832c74fc07c4e63",
            "type": "leaf",
            "state": {
              "type": "tag",
              "state": {
                "sortOrder": "frequency",
                "useHierarchy": true,
                "showSearch": false,
                "searchQuery": ""
              },
              "icon": "lucide-tags",
              "title": "Tags"
            }
          },
          {
            "id": "8c662c98f7ccadcb",
            "type": "leaf",
            "state": {
              "type": "outline",
              "state": {
                "followCursor": false,
                "showSearch": false,
                "searchQuery": ""
              },
              "icon": "lucide-list",
              "title": "Outline"
            }
          },
          {
            "id": "3ec16626e718020e",
            "type": "leaf",
            "state": {
              "type": "all-properties",
              "state": {
                "sortOrder": "frequency",
                "showSearch": false,
                "searchQuery": ""
              },
              "icon": "lucide-archive",
              "title": "All properties"
            }
          }
        ]
      }
    ],
    "direction": "horizontal",
    "width": 300,
    "collapsed": true
  },
  "left-ribbon": {
    "hiddenItems": {
      "bases:Create new base": false,
      "workspaces:Manage workspace layouts": false,
      "switcher:Open quick switcher": false,
      "graph:Open graph view": false,
      "canvas:Create new canvas": false,
      "daily-notes:Open today's daily note": false,
      "templates:Insert template": false,
      "command-palette:Open command palette": false
    }
  },
  "active": "d19280feebd42661",
  "lastOpenFiles": [
    "Homelab/Hermes Proxmox Setup.md",
    "Homelab/Immich.md",
    "Homelab/Design.md",
    "Homelab/Backrest Backup.md",
    "Tasks/Tasks.md",
    "Shoppinglists/Handleliste.md",
    "Untitled.md",
    "Untitled.canvas",
    "Untitled.base",
    "Daily Notes/2025-10-21.md",
    "Pasted image 20250402130420.png",
    "Daily Notes/2025-10-15.md",
    "Private/bootstrap-client/macos/README.md",
    "Private/bootstrap-client/PLANNED.md",
    "Daily Notes/2025-10-14.md",
    "Private/bootstrap-client/GEMINI.md",
    "Private/bootstrap-client/CLAUDE.md",
    "Private/bootstrap-client/AGENTS.md",
    "Daily Notes/2025-10-10.md",
    "Daily Notes/2025-09-29.md",
    "Private/FreshWindowsInstall/GEMINI.md",
    "Private/bootstrap-client/windows/Setup-Zsh-Windows.ps1",
    "Private/bootstrap-client/windows/Setup-Windows.ps1",
    "Private/bootstrap-client/windows/Setup-WezTerm.ps1",
    "Private/bootstrap-client/windows/Setup-GitHubKeys.ps1",
    "Private/bootstrap-client/windows/README.md",
    "Private/bootstrap-client/windows/Get-InstalledSoftware.ps1",
    "Private/bootstrap-client/windows/Apps-List-Full.txt",
    "Private/bootstrap-client/windows/Apps-List-Basic.txt",
    "Private/bootstrap-client/windows/APPS-COMPARISON.md",
    "Private/bootstrap-client/macos/Setup-Zsh-macOS.sh",
    "Private/bootstrap-client/macos/Setup-WezTerm.sh",
    "Private/bootstrap-client/linux/README.md",
    "Private/bootstrap-client/Setup-Zsh-README.md",
    "Private/bootstrap-client/SETUP-GUIDE.md",
    "Private/bootstrap-client/README.md",
    "Private/bootstrap-client/PC_Upgrade_Plan_and_Script_Guide.md",
    "Private/FreshWindowsInstall/windows/APPS-COMPARISON.md",
    "Pasted image 20250402125906.png",
    "Pasted image 20250305212934.png",
    "Pasted image 20250402130359.png",
    "Pasted image 20250402130334.png",
    "Pasted image 20250402130319.png",
    "Pasted image 20250402125843.png",
    "Pasted image 20250402125641.png",
    "Pasted image 20250402125551.png",
    "Pasted image 20250402125020.png"
  ]
}