// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-sh-at-startup "swayidle -w timeout 300 'niri msg action power-off-monitors' resume 'niri msg action power-on-monitors'"
    spawn-at-startup "env" "XDG_MENU_PREFIX=plasma-" "kbuildsycoca6"
    spawn-at-startup "trayscale" "--hide-window"