// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "no" // Use the Norwegian keyboard layout
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
        accel-speed 0
        accel-profile "flat"
    }

    // focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}

gestures {
    // Disable hot corners to prevent accidental triggering of actions when moving the mouse to the corners of the screen
    hot-corners {
        off
    }
}