    layout {
        gaps 10 // Gap between windows
        center-focused-column "on-overflow"//"never", "always" "on-overflow" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        // default-column-width and preset-column-widths are in cfg/host/<hostname>.kdl

        tab-indicator {
            hide-when-single-tab
        }

        struts {}

        focus-ring {
            width 3
        }
    }

    prefer-no-csd
