    layout {
        gaps 10 // Gap between windows
        center-focused-column "never" // Keep the focused edge column flush with the screen edge; center manually with Mod+C when wanted

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        // default-column-width and preset-column-widths are in cfg/host/<hostname>.kdl

        tab-indicator {
            hide-when-single-tab
        }

        struts {}

        focus-ring {
            width 3
        }
    }

    prefer-no-csd
