    window-rule {
        geometry-corner-radius 10 // Set every window radius to 10
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    window-rule {
        match app-id=r#"^org\.wezfurlong\.wezterm$"#
        default-column-width {}
    }

    window-rule {
        match app-id="com.gabm.satty"
        open-floating true
    }

    window-rule {
        match app-id="org.kde.plasma.emojier"
        open-floating true
    }

    window-rule {
        match app-id="it.mijorus.smile"
        open-floating true
    }

    window-rule {
        match app-id="com.mitchellh.ghostty" title="poecampain"
        open-floating true
        default-floating-position x=2240 y=1100
        default-column-width { fixed 620; }
        default-window-height { fixed 120; }
        opacity 0.7
    }