[edit]
{{- if eq .chezmoi.os "darwin" }}
    command = "nvim"
{{- else if eq .chezmoi.os "windows" }}
    command = "code"
    args = ["--wait"]
{{- end }}

[merge]
{{- if eq .chezmoi.os "darwin" }}
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]
{{- else if eq .chezmoi.os "windows" }}
    command = "code"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]
{{- end }}

[git]
    # autoAdd = true
    autoCommit = true # add + commit
    autoPush = true


