[Unit]
Description=Proton Pass SSH Agent
Documentation=https://protonpass.github.io/pass-cli/commands/ssh-agent/
After=network.target

[Service]
Type=simple
ExecStart=/home/ove/.local/bin/pass-cli ssh-agent start
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
