name: Test Windows

on:
  #push:
  #  branches: [main, master]
  #  paths:
  #    - 'home/**'
  #    - '.github/workflows/test-windows.yaml'
  #pull_request:
  #  branches: [main, master]
  workflow_dispatch:

jobs:
  test-windows:
    runs-on: windows-latest
    
    steps:
      - name: Install and test chezmoi deployment
        run: |
          $ChezmoiInstallScript = irm -useb https://get.chezmoi.io/ps1
          & ([scriptblock]::Create($ChezmoiInstallScript)) -BinDir "$env:TEMP\chezmoi"
          $env:PATH = "$env:TEMP\chezmoi;$env:PATH"
          
          if ("${{ github.event_name }}" -eq "pull_request") {
            $branch = "${{ github.head_ref }}"
          } else {
            $branch = "${{ github.ref_name }}"
          }
          Write-Host "Testing deployment from branch: $branch"
          chezmoi init --apply --exclude encrypted ${{ github.repository_owner }} --branch="$branch"
          chezmoi managed
          chezmoi doctor    
        shell: powershell
